/*Google fonts link Roboto Condensed Light 300*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

 /* * { border: 1px solid black; } */

body {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: whitesmoke;
}

b {
    font-weight: 800;
    color: red;
}

.submit {
    margin-left: 100px;
    background-color: green;
}


.logo-green {
    color: green;
}

p,
h1,
h2,
h3 {
    max-width: 65%;
    margin: auto;
}

header,
.total-residence,
.results {
    border: 1px solid black;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    max-width: 65%;
}

#input-field10 {
    margin-left: 90px;
}
#input-field11  {
    margin-left: 95px;
}

.header {
    padding-top: 30px;
}

.days-section {
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
    max-width: 45%;
}

.days-data,
.final-year,
.submit,
.reset,
p,
h3,
h2,
h1 {
    margin-bottom: 20px;
}

.heading-space {
    padding-top: 20px;
}

.submit {
    margin-top: 10px;
    margin-left: 300px;
}

input {
    box-shadow: 1px 1px 1px 2px gray;
    display: table-cell;
    margin-left: 50px;
    margin-bottom: 20px;
}


label {
    display: table-cell;
    text-align: right;
}

div.days-data,
div.final-year {
    display: table-row;
}

@media screen and (max-width: 540px) {
    input {
        margin-bottom: 40px;
    }

    .submit {
        margin: 40px;
        margin-left: 45px;
    }
    p, h1, h2, h3, header, .total-residence, .results, .days-section {
        max-width: 75%;}

    #input-field10 {
        margin-right: 40px;
    }
    #input-field11  {
        margin-right: 45px;
    }
    header,
    .total-residence,
    .results {
        border: none;
}
.heading-space {
    margin-top: 20px;
}

}
/*Styling for pop up information on mouse hover over information icon*/
/* Hover tooltip code based on W3 Schools CSS Tooltip tutorial*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 5px 10px 5px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    /*Position the tooltip to the left*/
    top: -10px;
    left: 105%;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}


